In [29]:
import numpy as np
import pandas as pd

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
data  = pd.read_csv(r'C:\Users\User\Downloads\IRIS.csv')
data

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [32]:
set(data["species"])

{'Iris-setosa', 'Iris-versicolor', 'Iris-virginica'}

In [33]:
data['species'] = data['species'].map({'Iris-setosa':0 , 'Iris-versicolor':1 , 'Iris-virginica':2})
data

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [34]:
x = data.drop(['species'] , axis=1)
y =data['species']

In [35]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.5 , random_state=50)

In [36]:
def pdf( X, mean, std):
        return np.exp(-0.5 * ((X - mean) / std) ** 2) / (np.sqrt(2 * np.pi) * std)

In [37]:
def statistics(X, y):
    classes = np.unique(y)
    parameters = {}
    for c in classes:
        X_c = X[y == c]
        parameters[c] = {
            'mean': X_c.mean(axis=0),
            'std': X_c.std(axis=0)  
        }
    return parameters

In [38]:
def predict (data , x , r , idx ) :
    list = []
    for k in set(data['species']) :
        c=1
        for i in range(x.shape[1]):
            c = c * pdf( x.iloc[idx,i], r[k]['mean'][i] , r[k]['std'][i] )
        list.append(c)
    prediction = list.index(max(list))
        
    return prediction

In [39]:
r = statistics(x_train,y_train)

In [40]:
r

{0: {'mean': sepal_length    4.960
  sepal_width     3.416
  petal_length    1.444
  petal_width     0.232
  dtype: float64,
  'std': sepal_length    0.304138
  sepal_width     0.318434
  petal_length    0.182757
  petal_width     0.106927
  dtype: float64},
 1: {'mean': sepal_length    5.895833
  sepal_width     2.766667
  petal_length    4.245833
  petal_width     1.312500
  dtype: float64,
  'std': sepal_length    0.474093
  sepal_width     0.340928
  petal_length    0.464364
  petal_width     0.217321
  dtype: float64},
 2: {'mean': sepal_length    6.457692
  sepal_width     2.976923
  petal_length    5.365385
  petal_width     2.000000
  dtype: float64,
  'std': sepal_length    0.610032
  sepal_width     0.281862
  petal_length    0.481616
  petal_width     0.292575
  dtype: float64}}

In [41]:
list = []
for i in range(len(x_test)) :
    t = predict(data , x_test , r , i)
    list.append(t)

# list

C:\Users\User\AppData\Local\Temp\ipykernel_15880\958929705.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  c = c * pdf( x.iloc[idx,i], r[k]['mean'][i] , r[k]['std'][i] )

In [42]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, list)
print("Accuracy:", accuracy)

Accuracy: 0.9733333333333334